<div class="start-wrapper">
    <div class="start-header">
        <h1>Colby's Movie Ratings</h1>
    </div>
    <div class="start-body">
        <p>Hello. Welcome to Colby's Movie Ratings.</p>
        <%= link_to "View movie ratings ", "/search", class: "btn btn-primary btn-lg" %>
    </div>
</div>