<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Colby's Movie Ratings", "/home", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <%= link_to "Search", "/search", class: "nav-item nav-link active" %>
            </div>
        </div>
        <% if @catagory.present? %>
            <span class="navbar-text"><%= @catagory %></span>
        <% end %>
    </div>
</nav>
