<%# <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">

  </ul>
</div> %>

<h1>All Movies</h1>

<div class="container-fluid">
  <%= render MovieCollection::TotalCollectionComponent.new(movies: @movies) %>
</div>
