<div>
    <%= render(TitleComponent.new(title: @title))%>
    <%= render(RatingComponent.new(rating: @rating))%>
    <%= render(GenreComponent.new(genre: @genre)) %>
    <%= render(TimesWatchedComponent.new(times_watched: @times_watched)) %>
</div>