<div class='container'>
    <div class="row justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <button type="button" class="btn btn-outline-primary">Action</button>
            <button type="button" class="btn btn-outline-primary">Comedy</button>
            <button type="button" class="btn btn-outline-primary">Horror</button>
            <button type="button" class="btn btn-outline-primary">TV Shows</button>
        </div>
    </div>
</div>
