<%# <div class='container'>
    <div class="row justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <button
            data-reflex="click->Filter#filter_based_on_term"
            value="action"
            >Action</button>

        </div>
    </div>
</div> %>
<%= component_controller do %>
  <p><%= @count %></p
<% end %>
